<div id="frames" class="row">
  <% (1..10).each do |i| %>
    <div class="border col">
      <%= i %>

      <% if (frame = @game.frames[i - 1]) %>
        <div class="row">
          <% frame.shots.each do |shot| %>
            <div class="text-center border px-2 col">
              <%= shot.score_symbol %>

            </div>
          <% end %>

        </div>

        <h4 class="text-center"><%= frame.score %></h4>

      <% end %>
    </div>
  <% end %>

  <div class="border col">
    Total
    <div class="row"><br/></div>
    <h4 class="text-center"><%= @game.score %></h4>

  </div>
</div>

<% unless @game.complete? %>
  <br/>
  <div>
    <% new_shot = @game.frames.last.shots.new %>
    <%= simple_form_for new_shot, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
      <%= f.hidden_field :frame_id %>

      <% (0..(new_shot.max_score)).each do |score| %>
        <%= f.submit value: score, data: {disable_with: false} %>
      <% end %>

      <label>&nbsp; Click the number of pins knocked down</label>

    <% end %>

  </div>
<% end %>
