<div id="frames" class="row">
  <% (1..10).each do |i| %>
    <div class="border col">
      <%= i %>

      <% if (frame = @game.frames[i - 1]) %>
        <div class="row">
          <% frame.shots.each do |shot| %>
            <div class="text-center border px-2 col">
              <%= shot.score_symbol %>

            </div>
          <% end %>

        </div>

        <h4 class="text-center"><%= frame.score %></h4>

      <% end %>
    </div>
  <% end %>

  <div class="border col">
    Total
    <div class="row"><br/></div>
    <h4 class="text-center"><%= @game.score %></h4>

  </div>
</div>

<% unless @game.complete? %>
  <div>
    <%= simple_form_for @game.frames.last.shots.new, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
      <%= f.hidden_field :frame_id %>
      <%= f.input :score, placeholder: 'Pins knocked down', autofocus: true %>

      <%= f.submit %>
    <% end %>

  </div>
<% end %>
