<div id="frames" class="row">
  <% (1..10).each do |i| %>
    <div class="col">
      <h5><%= i %></h5>
      <% if (frame = @game.frames[i - 1]) %>
        <%= frame.shots.map(&:score_symbol).join(' | ') %>
        <h4><%= frame.score %></h4>
      <% end %>
    </div>
  <% end %>

  <div class="col">
    <h5>Total</h5>
    <br/>
    <h4><%= @game.score %></h4>

  </div>
</div>

<% unless @game.complete? %>
  <div>
    <%= simple_form_for @game.frames.last.shots.new, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
      <%= f.hidden_field :frame_id %>
      <%= f.input :score, placeholder: 'Pins knocked down', autofocus: true %>

      <%= f.submit %>
    <% end %>

  </div>
<% end %>
