<h2> <%= @game.complete? ? 'Final' : 'Current' %> Game Score: <%= @game.score %>pts</h2>

<div>
  <% @game.frames.each do |frame| %>
    <div>
      <h3>Frame #<%= frame.number %>: <%= frame.score %>pts</h3>
      <%= frame.shots.map(&:score).join(' | ') %>

    </div>

  <% end %>
</div>

<% unless @game.complete? %>
  <div>
    <%= simple_form_for @game.frames.last.shots.new, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
      <%= f.hidden_field :frame_id %>
      <%= f.input :score, placeholder: 'Pins knocked down', autofocus: true %>

      <%= f.submit %>
    <% end %>

  </div>
<% end %>
